* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightblue;
    color: #494949;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    /*margin: auto;*/
    width: 700px;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #494949;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: #CFE0E6;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.main {
    padding: 50px;
    margin: auto;
    background-color: white;
    width: 600px;
    font-size: 60px;
}

.main #adminMain {
    
}

#login {
    margin: auto;
    margin-top: 10%;
    width: 10%;
    padding: 15px;
    background-color: white;
}

#menu {
    margin: auto;
    margin-top: 100px;
    padding-bottom: 10px;
    background-color: white;
    width: 700px;

}

#arWord {
    float:left;
    width: 280px;
}
#dabInput {
    width:280px;
    height:70px;
    font-size: 50px;
    float:right;
}
